<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width-device-width, initial-scale=1.0">

{% include 'cmr/c2db/js.html' %}
{% include 'cmr/c2db/style.html' %}
<script>
$(document).ready(function () {

    $(function () {
        $('[data-toggle="popover"]').popover({
            container: 'body'
        });
    });

});

</script>
{% block head %}
{% endblock %}

<title>{% block title %}{% endblock %}</title>

  </head>

  <body {% block BodySettings %}{% endblock %}>

    <div class="container" style="padding: 0px;">
      <div class="row">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
	      <li>
		<a href="https://cmr.fysik.dtu.dk/">CMR</a>
	      </li>
	      <li>
		<a href="https://cmr.fysik.dtu.dk/{{ p.name }}/{{ p.name }}.html">
		  More information</a>
	      </li>
	      <li>
		<a href="/{{ p.name }}/">Back to search page</a>
	      </li>
            </ul>
          </div>
        </nav>
      </div>
    </div> <!--end of container-->

{% block content %}
{% endblock %}

</body>
</html>
