{% extends 'cmr/search.html' %}
{% block search %}
<table>
  <tr>
    <td>Surface material:</td>
    <td>
      <select name="surf_mat" class="ase-input">
        <option value="">-</option>
        {% for x in 'Sc Ti V Cr Mn Fe Co Ni Cu Y Zr Nb Mo Ru Rh Pd Ag Hf Ta W Re Os Ir Pt Au'.split() %}
        <option value="{{ x }}">{{ x }}</option>
        {% endfor %}
      </select>
    </td>
  </tr>
  <tr>
    <td>Adsorbate:</td>
    <td>
      <select name="adsorbate" class="ase-input">
        <option value="">-</option>
        {% for x in 'H O N N2 CO NO CH OH'.split() %}
        <option value="{{ x }}">{{ x }}</option>
        {% endfor %}
      </select>
    </td>
  </tr>
</table>
{% endblock search %}
