{% extends 'cmr/search.html' %}
{% block search %}
<table>
  <tr>
    <td>Phase: ZB=zinckblende, WZ=wurtzite, KT=wz kesterite, ST=wz stannite, CP=zb chaclopyrite:</td>
    <td>
      <select name="prototype" class="ase-input">
        <option value="">-</option>
        {% for x in 'ST,KT,CP,WZ,ZB'.split(',') %}
        <option value="{{ x }}">{{ x }}</option>
        {% endfor %}
      </select>
    </td>
  </tr>
</table>
{% endblock search %}
