{% extends 'ase/db/templates/search.html' %}

{% block navbar %}
<li>
  <a href="https://cmr.fysik.dtu.dk/">CMR</a>
</li>
<li>
  <a href="https://cmr.fysik.dtu.dk/{{ p.name }}/{{ p.name }}.html">
    More information</a>
</li>
{% endblock %}

{% block content %}

{{ super() }}

<div class="text-center">
This work is licensed under a
<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
Creative Commons Attribution-ShareAlike 4.0 International License</a>.<br/>
<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
<img alt="Creative Commons License" style="border-width:0"
src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
</div>
<br>
{% endblock content %}
