{% extends 'cmr/search.html' %}
{% block search %}
<table>
  <tr>
    <td>Prototype name:</td>
    <td>
      <select name="prototype" class="ase-input">
        <option value="">-</option>
        {% for x in 'NH4CdCl3/Sn2S3,GdFeO3,YScS3,PbPS3,BaNiO3,FePS3,cubic,distorted,Pyroxene-CaIrO3,BiInS3,CuTaS3,CeTmS3'.split(',') %}
        <option value="{{ x }}">{{ x }}</option>
        {% endfor %}
      </select>
    </td>
  </tr>
</table>
{% endblock search %}
