{% extends 'cmr/search.html' %}
{% block search %}
<table>
  <tr>
    <td>Template crystal structure or prototype present in the ICSD database:</td>
    <td>
      <select name="prototype" class="ase-input">
        <option value="">-</option>
        {% for x in 'Cu2ZnSiS4,Cu2ZnSnS4,Cu2CdSnS4,Cu2CdGeS4,Cu2KVS4,Cu2BaGeSe4'.split(',') %}
        <option value="{{ x }}">{{ x }}</option>
        {% endfor %}
      </select>
    </td>
  </tr>
</table>
{% endblock search %}
