{% extends 'cmr/search.html' %}
<div class="container">
  {% block contenttitle %}
  <div class="row" style="padding-bottom:15px;padding-right:50px">
    <div class="col-lg-11">
      <div class="col-lg-9"><h1>Impurities in 2D Materials Database</h1></div>
      <div class="col-lg-2" style="float:right">
	<img alt="QPOD logo" width=300 src="https://cmr.fysik.dtu.dk/_images/imp2d.png">
      </div>
    </div>
  </div>

  {% endblock %}
{% block search %}
<table>
  <tr>
    <td>Host formula:</td>
    <td>
      <input type="text" name="host" value="" size="18" class="ase-input"
             placeholder="e.g. MoS2, WS2, TiO2, etc.">
    </td>
  </tr>
  <tr>
    <td>Dopant species: </td>
    <td>
      <input type="text" name="dopant" value="" size="18" class="ase-input"
             placeholder="e.g. H, He, Li, etc.">
    </td>
  </tr>
  <tr>
    <td>Defecttype:</td>
    <td>
      <select name="defecttype" class="ase-input">
        <option value="">all</option>
        <option value="interstitial">interstitial</option>
        <option value="adsorbate">adsorbate</option>
      </select>
    </td>
  </tr>
  <tr>
      <td>Relaxation fully converged?&emsp;</td>
    <td>
      <select name="converged" class="ase-input">
        <option value="True">yes</option>
        <option value="False">no</option>
        <option value="">-</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>Host spacegroup number: </td>
    <td>
      <input type="text" name="host_spacegroup" value="" size="8" class="ase-input"
             placeholder="e.g. 187">
    </td>
  </tr>
</table>
{% endblock search %}
