{% extends 'cmr/search.html' %}
{% block search %}
<table>
  <tr>
    <td>Stoichiometry (A, AB2, A2B3, ...):</td>
    <td>
      <input type="text" name="stoichiometry" value="" size="6" class="ase-input"> -
    </td>
  </tr>
  <tr>
    <td>Number of species:</td>
    <td>
      <select name="nspecies" class="ase-input">
        <option value="">-</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </td>
  </tr>
</table>
{% endblock search %}
