{% extends 'cmr/search.html' %}
{% block search %}
<table>
  <tr>
    <td>Score range:</td>
    <td>
      <input type="text" name="from_s" value="" size="6" class="ase-input"> -
      <input type="text" name="to_s" value="" size="6" class="ase-input">
      <select name="s" class="ase-input">
      {% set choises = [
           ('0D', 's_0'),
           ('1D', 's_1'),
           ('2D', 's_2'),
           ('3D', 's_3'),
           ('0D+1D', 's_01'),
           ('0D+2D', 's_02'),
           ('0D+3D', 's_03'),
           ('1D+2D', 's_12'),
           ('1D+3D', 's_13'),
           ('2D+3D', 's_23'),
           ('0D+1D+2D', 's_012'),
           ('0D+1D+3D', 's_013'),
           ('1D+2D+3D', 's_123'),
           ('0D+1D+2D+3D', 's_0123')] %}
      {% for txt, key in choises %}
        <option value="{{ key }}">{{ txt }}</option>
      {% endfor %}
      </select>
    </td>
  </tr>
  <tr>
    <td>Database source:</td>
    <td>
      <select name="source" class="ase-input">
        <option value="">-</option>
        <option value="COD">COD</option>
        <option value="ICSD">ICSD</option>
      </select>
    </td>
  </tr>
</table>
{% endblock search %}
