{% extends 'cmr/search.html' %}
{% block search %}
<table>
  <tr>
    <td>Number of species:</td>
    <td>
      <input type="text" name="ns" value="" size="6" class="ase-input"> -
    </td>
  </tr>
  <tr>
    <td>XC-functional:</td>
    <td>
      <select name="xc" class="ase-input">
        <option value="">-</option>
        <option value="PBE">PBE</option>
        <option value="PBE+U">PBE+U</option>
      </select>
    </td>
  </tr>
</table>
{% endblock search %}
