{% extends 'cmr/qpod/layout.html' %}

{% block title %}
QPOD Database
{% endblock %}

{% block head %}
<script src="{{ url_for('static', filename='search.js') }}"></script>
<script>
document.addEventListener('DOMContentLoaded',
                          function() {
                              update_table({{ session_id }}, 'query', '0');
                              },
                          false);
</script>
{% endblock %}

{% block content %}
<style>
table.search {
    border-collapse: separate;
    border-spacing: 0.5em 0.5em;
}
.ase-input {
    width: 100%;
}
</style>

<div class="container">
  {% block contenttitle %}
  <div class="row" style="padding-bottom:15px;padding-right:50px">
    <div class="col-lg-11">
      <div class="col-lg-9"><h1>Quantum Point Defects in 2D Materials (QPOD) Database</h1></div>
      <div class="col-lg-2" style="float:right">
        <img alt="QPOD logo" width=300 src="https://cmr.fysik.dtu.dk/_images/qpod.png">
      </div>
    </div>
  </div>

  {% endblock %}

  <div class="well mt-2">
    <form id="mainFormID" class="navbar-form navbar-default mt-2"
          role="search"
          action="javascript:update_table({{ session_id }}, 'query', '0')">
      <div class="form-group" style="margin-top:5px;">
        <input type="text" name="query" id="formula-result"
               class="form-control mt-2 ase-input"
               value="{{ q }}"
               placeholder="e.g. defect_pointgroup=C3v, has_asr_charge_neutrality, n0>1e4, etc." size="60">
        <button type="submit" class="btn btn-default">
          <i class="fa fa-search fa-1x" aria-hidden="true"></i>
        </button>

      <table class="search">
        <tr>
          <td>Host name</td><td>:</td>
          <td>
            <input type="text" name="host_name" value="" size="6" class="ase-input"
               placeholder="e.g. BN, SnO2 etc.">
          </td>
        </tr>
        <tr>
          <td>Defect name</td><td>:</td>
          <td>
            <input type="text" name="defect_name" value="" size="20" class="ase-input",
               placeholder="e.g. v_N, N_B, pristine, etc.">
          </td>
        </tr>
        <tr>
          <td>Charge state</td><td>:</td>
          <td>
            <input type="text" name="charge_state" value="0" size="6" class="ase-input">
          </td>
        </tr>
        <tr>
          <td>Magnetic</td><td>:</td>
          <td>
            <select name="is_magnetic" class="ase-input">
              <option value="">All</option>
              <option value="True">Yes</option>
              <option value="False">No</option>
            </select>
          </td>
        </tr>
      </table>
      </div><br/>
      {% block search %}
      {% endblock search %}
      <div class="form-group" style="margin-bottom:0px;">
        <small class="form-text text-muted">
          <a href="https://wiki.fysik.dtu.dk/ase/ase/db/db.html#querying"
             target="_blank">
            Help with constructing advanced search queries ...
          </a>
        </small>
      </div><br/>

      {# Flash query messages #}
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="list-group">
          {% for message in messages %}
            <li class="list-group-item list-group-item-warning">{{ message }}
            </li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

      <small lcass="form-text text-muted">
      <a data-toggle="collapse" href="#collapse1">Toggle list of keys ...</a>
      </small><br/>
      <div id="collapse1" class="collapse">
        <table class="table table-striped">
        {% for key, (short, long, unit) in p.key_descriptions|dictsort %}
          <tr><td>{{ key }}</td><td>{{ long }}</td><td>{{ unit|safe }}</td></tr>
        {% endfor %}
        </table>
      </div>
    </form>
  </div>

  <div id="database1"></div>

</div> <!-- class="container" -->

{% endblock content %}
