{% extends 'cmr/c2db/layout.html' %}

{% block head %}
<script src="{{ url_for('static', filename='search.js') }}"></script>
<script>
document.addEventListener('DOMContentLoaded',
			  function() {
			      update_table({{ session_id }}, 'query', '0');
			      },
			  false);
</script>
{% endblock %}

{% block title %}
C1DB
{% endblock %}

{% block content %}
<style>
table.search {
    border-collapse: separate;
    border-spacing: 0.5em 0.5em;
}
.ase-input {
    width: 100%;
}
</style>

<div class="container">
  {% block contenttitle %}
  <div class="row" style="padding-bottom:15px;padding-right:50px">
    <div class="col-lg-11">
      <div class="col-lg-9"><h1>{{p.title}}</h1></div>
      <div class="col-lg-2" style="float:right">
	<img alt="C1DB logo" width=300 src="https://cmr.fysik.dtu.dk/_images/c1db.png">
      </div>
    </div>
  </div>

  {% endblock %}

  <div class="well mt-2">
    <form id="mainFormID" class="navbar-form navbar-default mt-2"
	  role="search"
	  action="javascript:update_table({{ session_id }}, 'query', '0')">
      <div class="form-group" style="margin-top:5px;">
	<input type="text" name="query" id="formula-result"
	       class="form-control mt-2 ase-input"
	       value="{{ q }}"
	       placeholder="Example: 'MoS2' OR 'gap>0,ehull<0.1'" size="60">
	<button type="submit" class="btn btn-default">
	  <i class="fa fa-search fa-1x" aria-hidden="true"></i>
	</button>
      </div><br/>

      <table class="search">
	<tr>
	  <td>Stoichiometry (A, AB2, A2B3, ...)</td><td>:</td>
	  <td>
	    <input type="text" name="stoichiometry" value="" size="6" class="ase-input">
	  </td>
	</tr>
	<tr>
	  <td>Dynamically stable (phonons)</td><td>:</td>
	  <td>
	    <select name="dyn_phonons" class="ase-input ase-button">
	      <option value="low">No</option>
	      <option value="high">Yes</option>
	      <option value="all" {% if not q %}selected{% endif %}>All</option>
	    </select>
	  </td>
	  <td>
	</tr>
	<tr>
	  <td>Dimensionality</td><td>:</td>
	  <td>
	    <select name="dims" class="ase-input ase-button">
	      <option value="FFT">1D</option>
	      <option value="TTT">3D</option>
	      <option value="both" {% if not q %}selected{% endif %}>Both</option>
	    </select>
	  </td>
	  <td>
	</tr>
	<tr>
	  <td>XC-functional</td><td>:</td>
	  <td>
	    <select name="xc" class="ase-input ase-button">
	      <option value="dftd3">PBE+D3</option>
	      <option value="gpaw">PBE</option>
	      <option value="both" {% if not q %}selected{% endif %}>Both</option>
	    </select>
	  </td>
	  <td>
	</tr>
	<tr>
	  <td>Source</td><td>:</td>
	  <td>
	    <select name="source" class="ase-input ase-button">
	      <option value="COD">COD</option>
	      <option value="ICSD">ICSD</option>
	      <option value="Derived by element substitution">Derived by element substitution</option>
	      <option value="any" {% if not q %}selected{% endif %}>Any</option>
	    </select>
	  </td>
	  <td>
	</tr>
	<tr>
	  <td>Thermodynamic stability</td><td>:</td>
	  <td>
	    <select name="from_tdyn" class="ase-input">
	      <option value="1" {% if not q %}selected{% endif %}>Low</option>
	      <option value="2">Medium</option>
	      <option value="3">High</option>
	    </select>
	  </td>
	  <td>-</td>
	  <td>
	    <select name="to_tdyn" class="ase-input">
	      <option value="1">Low</option>
	      <option value="2">Medium</option>
	      <option value="3" selected>High</option>
	    </select>
	  </td>
	</tr>
	<tr>
	  <td>Magnetic</td><td>:</td>
	  <td>
	    <select name="is_magnetic" class="ase-input">
	      <option value="">All</option>
	      <option value="True">Yes</option>
	      <option value="False">No</option>
	    </select>
	  </td>
	</tr>
	<tr>
	  <td>Band gap range [eV]</td><td>:</td>
	  <td>
	    <input type="text" name="from_gap" value="" size="6" class="ase-input">
	  </td>
	  <td>-</td>
	  <td>
	    <input type="text" name="to_gap" value="" size="6" class="ase-input">
	  </td>
	  <td>
	    <select name="xc" class="ase-input">
	      <option value="gap">PBE</option>
	      <option value="gap_hse">HSE06@PBE</option>
	    </select>
	  </td>
	</tr>
      </table>

      <div class="form-group" style="margin-bottom:0px;">
	<small class="form-text text-muted">
	  <a href="https://wiki.fysik.dtu.dk/ase/ase/db/db.html#querying"
	     target="_blank">
	    Help with constructing advanced search queries ...
	  </a>
	</small>
      </div><br/>

      {# Flash query messages #}
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class="list-group">
	{% for message in messages %}
	<li class="list-group-item list-group-item-warning">{{ message }}
	</li>
	{% endfor %}
      </ul>
      {% endif %}
      {% endwith %}

      <small lcass="form-text text-muted">
	<a data-toggle="collapse" href="#collapse1">Toggle list of keys ...</a>
      </small><br/>
      <div id="collapse1" class="collapse">
	<table class="table table-striped">
	  <tr><th>Key</th><th>Description</th><th>unit</th></tr>
	  {% for key, (short, long, unit) in p.key_descriptions|cmr_filter_key_descriptions|dictsort %}
	  <tr><td>{{ key }}</td><td>{{ long }}</td><td>{{ unit|safe }}</td></tr>
	  {% endfor %}
	</table>
      </div>
    </form>
  </div>

  <div id="database1"></div>

</div> <!-- class="container" -->

<div class="text-center">
  This work is licensed under a
  <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
    Creative Commons Attribution-ShareAlike 4.0 International License</a>.<br/>
  <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
    <img alt="Creative Commons License" style="border-width:0"
	 src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
</div>
<br>
{% endblock content %}
